* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  ul {
    list-style: none;
  }
  
  :root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
  }
  
  html {
    font-size: 62.5%;
  }
  



  body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  a {
    text-decoration: none;
  }
  
  .heading-lv2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
  }
  
  .btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    line-height: 5rem;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
  }
  .btn:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
  }
 
  .break-all {
    word-break: break-all;
  }
  
  .header {
    position: sticky;
    top: -28px;
    z-index: 99;
    background: #fffcf4;
  }
  
  .header.fixed {
    position: sticky;
    top: -28px;
    z-index: 99;
  }
  
  .header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
  }
  
  .nav {
    margin-left: auto;
  }
  
  .nav ul {
    display: flex;
  }
  
  .nav a {
    position: relative;
    font-weight: 400;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
  }
  
  .nav a:hover::after {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
    transform: translateY(10px);
    opacity: 1;
  }
  
  .nav li a::after {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    width: 50px;
    height: 2px;
    border-radius: 5px;
    background: #171100;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
  }
  
  .content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50px;    /* Di chuyển 50px từ vị trí ban đầu theo chiều dọc (lên xuống) */
    left: 30px;
  }
  
  .head {
    margin: -20px;
    background: #fffcf4;
   
  }
  
  .head .body {
    display: flex;
  }
  
  .media .instagram {
    width: 47rem;
    height: 68.5rem;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 60px auto 0;
    
  }
  


  .head .summary {
    width: 270px;
    padding: 24px;
    position: absolute;
    bottom: 4px;
    right: 0;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    top: -30%;
    left: 260px;
    height: 250px;
  
  }
  
 .item {
  display: flex;
  transform: translateY(-5px);
  margin-right: 15px;
 }                    
  
  
  
  .summary .icon1 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9e8;
  }
  
  .summary .icon2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffefef;
  }
  
  .summary .icon3 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebeaff;
  }

  
  .summary .info {
    margin-left: 15px;
    transform: translateY(-5px);
  }
    
  .summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height:0.1 ;
  }
  
  
  
  .summary .title {
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
  }
  
  .head .content1 {
    width: 54%;
    padding-left: 130px;
    padding-top: 68px;
  }
  
  .head .heading {
    font-family: var(--font-heading)
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
  }
  
  
 .button {
  unicode-bidi: isolate;
  cursor: pointer;                                ;
 }

  .head .document {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
  }
  
  .head .Button {
    margin-top: 38px;
    display: flex;
    align-items: center;
  }
  
  .head .button {
    width: 160px;
    background-color: var(--primary-color);
    line-height: 60px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 35px;
    text-align: center;
  }
  
  .head .watch-video {
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .watch-video .icon4 {
    display: flex;
    align-items: center;
  }
  
  .head .watch-video h1 {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.66;
    margin-left: 14px;
  }
  
  
  .head .Recent {
    margin-top: 48px;
  
  }
  
  .info {
    font-size: 20px;
    align-items: center;
    font-weight: bold;

  }


  .highlight {
    color: #ffbc2c;
    font-size: 45px;
  }
  

  .popular {
    padding: 6.5rem 0;
    margin-top: 13.5rem;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .top .desc {
    margin-top: 1.6rem;
    font-size: 1.8rem;
    width: 458px;
    color: #5f5b53;
    line-height: 1.67;
  }
  
  .top .controls {
    display: flex;
    gap: 18px;
  }
  
  .top .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .top .button:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
  }
  
  .popular .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
  }
  
  .popular .course-item {
    flex: 1;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #e2dfda;
  }
  
  .popular .course-item:hover {
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  }
  
  .popular .list .thumb {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 278px;
    object-fit: cover;
  }
  
  .popular .course-item .info {
    padding: 16px 22px 22px;
  }
  
  .popular .course-item .rating,
  .popular .course-item .head-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    transform: translateX(-15px);
  }
  
  .head-1 {
    margin: -20px;
  }

  .popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  
  .popular .course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
  }
  
  .popular .rating .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 16px;
    line-height: 1.75;
  }
  
  .popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
  }
  
  .popular .course-item .foot {
    margin-top: 12px;
  }
  
  .popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
  }
  
  .popular .course-item .btn-book {
    border: none;
  }
  
  .popular .course-item .btn-book:hover {
    background: var(--primary-color);
  }



  .feedback {
    padding: 96px 0;
    margin-top: 135px;
    background: #2e2100;
  }
  
  .feedback .item {
    display: flex;
  }
  
  .feedback .item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .item .info .member-name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
  }
  
  .item .info .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
  }
  
  .item .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
  }
  
  .item .dot {
    height: 6px;
    width: 6px;
    background-color: #634700;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .item .dot.active {
    background: var(--primary-color);
    cursor: default;
  }
  
  .item .content {
    width: 66%;
    margin-left: auto;
    top: auto;
  }
  
  .item h2 {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
  }
  

  .container_1 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 400px;
    
}

.feedback_1 {
  margin-top: 135px;
  padding: 65px;
}


.feedback_1 .body {
  display: flex;
  justify-content: space-between;
}

.feedback_1 .imgase {
  display: flex;
  gap: 30px;
  transform: translateX(-20px);
}

 

.feedback_1 .imgase img {
  width: 270px;
  height: 405px;
  object-fit: cover;
  border-radius: 16px;
}


.feedback_1 .lower {
  margin-top: 34px;
}

.feedback_1 .container_1 {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
    text-align: left;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.report_1 {
    font-size: 12px;
    color: #888;
}

.sign-up {
  background: orange;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  gap: 50px;
}


.text-content {
  max-width: 50%;
}

.text-content h1 {
  font-size: 42px;
  font-weight: bold;
}

.text-content p {
  margin: 30px 0;
  color: gray;
  font-size: 18px;
}

.join {
  background: orange;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;
  min-width: 118px;
  line-height: 5rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
}


.image-content img {
  width: 400px;
  border-radius: 10px;
}


.blog-section {
  text-align: center;
  background-color: #fffcf6;
  padding: 50px;
}

.blog-section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  color: gray;
  margin-bottom: 40px;
  font-size: 18px;
}


.blog-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.blog-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.blog-content {
  padding: 15px;
  text-align: left;
}

.date {
  color: #a5895e;
  font-size: 14px;
  margin-bottom: 10px;
}



.blog-content h3 {
  font-size: 15px;
  margin-bottom: 10px;
}


.blog-content hr {
  margin-left: 8px;
  
}


button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}



.site-footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.site-footer .container {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.site-footer .container .column {
  width: 21.6%;
}

.site-footer .container .column:first-child {
  width: 35%;
}




.site-footer .desc {
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.site-footer .social-icon {
  display: flex;
  margin-top: 18px;
  gap: 18px;
}

.site-footer .title {
  display: inline-block;
  padding-right: 48px;
  padding-bottom: 14px;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.site-footer .list {
  margin-top: 28px;
}

.site-footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.site-footer .list li:last-child a {
  margin-bottom: 0;
}

.site-footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.site-footer .footer-bottom {
  padding: 28px 0;
  color: #807b74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
 
  
